
@charset "utf-8";

/*
CIS 155 Web Dev 1
Author: Gordon Lindsay
Date:   5/2/2020
Filename: styles.css
*/


/* Structural Styles */

html {
    /* M2LO3 Demonstrate style precedence and inheritance in CSS: inheritance
    the new default background color will be inherited */
    background-color: rgb(42, 42, 42);
}

body {
    /* M2LO13 Demonstrate how CSS can change presentation of textual elements
    this changes the font from the browser default */
    background-color: rgb(67, 66, 82);
    font-family: 'Times New Roman', Times, serif;
}

header {
    /* M2LO15 Apply colors using CSS 
    this applies the color from the image background to the header */
    background-color: #444444;
}

footer {
    /* M2LO5 Demonstrate contextual selectors 
    this changes background color in a footer element*/
    background-color: #000000;
}

address {
    color: gold;
    font-style: normal;
    font-size: 1.1em;
    text-align: center;
    padding: 9px;
}

/* Navigation Styles */
a {
    color: #5f5123;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  li {
      /* M2LO12 Demonstrate how CSS can change presentation of page elements 
      this changes the Nav list display from vertical to horizontal */
      float: left;
  }
  
  li > a {
      /* M2LO3 Demonstrate style precedence and inheritance in CSS: precedence
      these settings will take precedence over the 'a' color setting */
      
      /* M2LO5 Demonstrate contextual selectors
      parent > child: these settings will apply to 'a' elements within a list */
      display: block;
      color: #e9c650;
      font-size: 1.1em;
      text-align: center;
      padding: 10px 25px;
      text-decoration: none;
  }
  
  /* 
   */


li a:hover {
    background-color: #444444;
  }


/*  */
h1{
    font-size: 2em;
    font-weight: normal;
    color: silver;
    margin: 0px;
    padding-top: 15px, 10px, 15px;
}

p{
    color: silver;
    margin: 0px;
    padding: 20px;
    font-size: 1.3em;
    text-align: left;
}



/* Definition List Styles
dt{
  font-size: 1.3em;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.4);
}
dd{
  font-size: 1.3em;
  margin-left: 0px;
  margin-bottom: 10px;
} */
