@charset "utf-8";

@font-face {
  font-family: Harrington;
  src: url(HarringtonPlain001001-vv54.ttf);
}

/*
CIS 155 Web Dev 1  
Project V2
Author: Gordon Lindsay
Date:   5/16/2020
Filename: styles.css
*/

/* M3LO1 Demonstrate the use of a CSS reset style sheet */
/* Reset Rules */
address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul {
   margin: 0;
   padding: 0;
   border: 0; 
 /*  border: dotted 1px red; */
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Structural Styles */
html {
  background-color: rgb(67, 66, 82); 
  background-color: hsl(244, 10.8, 29.0);
  /* M4LO2 Demonstrate the use of background images (CSS) */
  background: url(img/Driftwood2.jpg) 100%/contain fixed;
      /* M3LO10 Demonstrate an overflow setting:
    This adds a scrollbar to elements that don't fit their container */
    overflow: auto;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
  background-color: #000000;
  font-size: 1em;
  text-align: center;
  padding: 6px 0px 9px 0px;
  width: 100%;
  /* M3LO9 Demonstrate fixed, static, or inherited positioning:
  This keeps the footer at the bottom of the viewport
  It has also broken the grid on the footer for now */
  position: fixed;
  bottom: 0;
}

/* Page Header Styles */
header {
  font: 1em Harrington;
}

 h1 {
  font: 6em Harrington;
  color: rgb(196, 144, 13);
  /* M4LO5 Demonstrate the use of text or box shadowing: 
  This is adding the shadow to the title at the top of my page. */
  text-shadow: -4px 3px 1px #000000;
  background: url(img/Driftwood1.jpg) 100%/cover local;
  padding: 10px 0px 10px 0px;
  text-align: center;
  width: 100%;
}

/* Navigation Styles */
header > nav a {
  display: block;
  width: 100%;
  font-size: 1.2em;
  text-decoration: none;
  padding: 3px;
}

footer a {
  color: rgb(196, 144, 13);
  text-decoration: none;
}

nav.horizontal ul li {
  display: block;
  text-align: center;
  width: 20%;
  /* M3LO2 Demonstrate floating elements:
  This starts the unordered list at the left side of the viewport */
  float: left;
}

nav.horizontal a:link, nav.horizontal a:visited {
  color: rgb(219, 161, 15);
  background-color: black;
  border: solid 3px black;
}

nav.horizontal a:hover, nav.horizontal a:active {
  color: rgb(219, 161, 15);
  background-color: rgb(55, 49, 68);
  border: solid 3px black;
}

#current {
  color: rgb(248, 221, 68);
  border: inset 3px rgb(21, 21, 61);
  background-color: rgb(28, 28, 34);
}

/* List Styles */
ol {
  list-style-type: decimal;
  color: silver;
  padding: 10px;    
  padding-left: 30px;
  overflow: hidden;
  background-color: #082e1c; 
}

/* Text Element Styles */
h2 {
    font-size: 2em;
    font-weight: normal;
    color: silver;
    padding: 20px;
}  
    
p {color: silver;
  padding: 10px;
  font-size: 1.3em;
  text-align: left
}

blockquote {
  color: lightsteelblue;
  font-size: 1.2em;
  padding: 5px 40px 5px 40px;
  border: solid 4px rgb(28, 28, 34);
  /* M4LO3 Demonstrate the use of rounded corners for borders (CSS) */
  border-radius: 16px;
  /* M3LO8B Demonstrate relative positioning: 
  This positions the left side of blockquotes 10px away from the left side of the viewport */
  position: relative;
  left: 10px;
}

blockquote::first-letter {
  font-size: 1.6em;
}

/* M4LO4 Demonstrate the use of gradients */
#grad {
  background-image: linear-gradient(to bottom right, #082e1c, rgb(15, 99, 50));
}

h2.clh {
  color: #000;
  text-align: center;
}

figure {
  border: solid 4px black;
}

img {
  display: block;
  margin: auto;
  object-fit: cover;
}

/* M4LO6 Demonstrate the use of opacity/transparency for images */
img:hover {
  opacity: 0.5;
}

#aboutTitle {
  color: black;
  padding: 10px;
  /* M3LO8A Demonstrate absolute positioning 
  This allowed me to use the offset to slightly overlap another element */
  position: absolute;
  left: 280px;
}

/* M3LO11 Demonstrate -prefix- style browser extensions use in CSS 
This ensures the transform will work on Safari and Firefox browsers */
/* M4LO8 Demonstrate the use of transformations for 2D or 3D images:
This flips any images I've tagged with id="flipH, on the Y axis */
#flipH {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#rotateLeft {
  transform: rotate(270deg);
}

/* Grid Styles */
#right {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

#center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#left {
  margin-left: 0;
  margin-right: auto;
  display: block;
}

/* M3LO3 Demonstrate a clearing floats: 
This clears floats after the row elements to prevent collapse. */
.row:after {
  clear: both;
content: '';
  display: table;
}

div [class^="col-"] {
  float: left;
}

/* M3LO6 Demonstrate formatting a grid:
These column widths are used along with the rows to create a grid. */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
