@charset "utf-8";

/*
CIS 155 Web Dev 1  
Project V4
Author: Gordon Lindsay
Date:   6/15/2020
Filename: form.css
*/

/* M7LO11 Demonstrate how to format a form with CSS */
 /*=========
Form Styles
=========*/
section {
  display: grid;
  font: 1em sans-serif;
  color: lightsteelblue;
  margin-right: 50%;
  margin-left: 10%;
}

label {
  display: block;
  float: left;
  clear: left;
  margin: 1% 0;
  width: 30%;
 }
 
 input, select, textarea {
  display: block;
  background-color: rgb(211, 211, 208);
  float: left;
  margin: 5px 0px;
  width: 55%;
 }
 
 textarea {
  height: 100px;
 }
 
 form p {
  clear: left;
  text-align: center;
  padding-top: 40px;
 }
 
 input[type='submit'] {
    color: rgb(196, 145, 6);
    background-color: rgb(15, 15, 15);    
    border-radius: 20px;
    float: none;
    display: inline;
    font-size: 1.1em;
    margin-left: 17%;
 }

