@charset "utf-8";

@import "styles.css";
@import "tables.css";

/*
CIS 155 Web Dev 1  
Project V3
Author: Gordon Lindsay
Date:   5/30/2020
Filename: layout.css
*/


/*============================
Mobile Devices: 0 - 480 pixels
============================*/
/* M5LO3 Use media queries to format a page differently for phones vs. PCs. 
This sets styles for mobile screens */
@media only screen and (max-width: 480px) {
  /* M5LO5 Demonstrate the use of flexboxes on a web page
  Flexbox was used to replace most of the grid layout */
  html {
    margin-top: 40px;
  }
  
  body {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    font-size: .7em;
    height: 100%;
    width: 100%;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.6em;
  }
  nav.horizontal {
    display: none;
  }
  body > footer {
    -webkit-order: 100;
    order: 100;
  }
  /* M5LO7 Demonstrate use of properties of flexbox containers
  Flexbox containers were used to create rows, making it easy to
  switch between horizontal and vertical layout */
  .flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column; 
  }
  img.size1, img.size2{
    width: 100%;
  }
}

/*=================================================
Tablet and Desktop Devices: Greater than 480 pixels
================================================ */
/* M5LO3 Use media queries to format a page differently for phones vs. PCs.
This limits fonts from shrinking too small as browser width decreases */
@media only screen and (max-width: 1080px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 18px;
  }
  p{
    font-size: 13px;
  }
}

/* M5LO3 Use media queries to format a page differently for phones vs. PCs.
This sets styles for larger screens */
@media only screen and (min-width: 481px) {
  body {
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  nav.vertical {
    display: none;
  }
  nav.horizontal ul {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
  }
  nav.horizontal ul > li {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-evenly;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

}