@charset "utf-8";

/*
CIS 155 Web Dev 1  
Project V4
Author: Gordon Lindsay
Date:   6/15/2020
Filename: tables.css
*/

/*==========
Table Styles 
==========*/
/* M6LO7 Demonstrate how to format a table with CSS
These table styles keep to the theme of the page, but 
make the table distinct from other content. */ 
table {
  border: none;
  border-top: ridge 5px darkgray;
  padding: 20px;
  padding-right: 0px;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgb(28, 28, 34), rgb(52, 50, 63)); 
}

th, td {
  font-size: 0.8em;
  border: solid 3px gray;
  line-height: 1.2em;
  padding: 8px;
}

th {
  color: silver;
  font-weight: normal;
}

td {
  color: lightsteelblue;
  font-size: 0.7em;
  vertical-align: top;
}

caption {
    color: silver;
    border-bottom: none;
    font-size: 1.3em;
    padding: 4px 0px 5px 0px;
}

/*===========
Column Styles 
===========*/
#firstCol {
  width: 25%;
}

.dataCols {
  width: 19%;
}

/*=================
Table Header Styles 
=================*/
thead tr {
  height: 60px;
}

thead tr:first-of-type th:first-of-type {
  font-size: 1.1em;
}
