@charset "utf-8";

/*
CIS 155 Web Dev 1  
Project V4
Author: Gordon Lindsay
Date:   6/15/2020
Filename: tables.css
*/

/*==========
Table Styles 
==========*/
/* M6LO7 Demonstrate how to format a table with CSS
These table styles keep to the theme of the page, but 
make the table distinct from other content. */ 
table {
  background: black;
  border: 5px ridge darkgray;
  padding: 20px;
  width: 100%;
}

th, td {
  border:3px solid gray;
  line-height: 1.4em;
  padding: 8px;
}

th {
  background: black;
  color: rgb(196, 144, 13);
  font-weight: normal;
}

td {
  color: lightsteelblue;
  font-size: 0.9em;
  vertical-align: top;
}

caption {
    color: rgb(196, 144, 13);
    background-color: black;
    border: 5px ridge darkgray;
    border-bottom: none;
    font-size: 1.3em;
    padding: 4px 0px 5px 0px;
}

/*===========
Column Styles 
===========*/
#firstCol {
  width: 24%;
}

.dataCols {
  width: 19%;
}

/*=================
Table Header Styles 
=================*/
thead tr {
  height: 60px;
}

thead tr:first-of-type th:first-of-type {
  font-size: 1.2em;
}
